.App {
  text-align: center;
}

#header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box {
  background-color: #7f838b;
  height: 35vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  box-shadow: 1px 1px 1px 1px grey;
  background: linear-gradient(30deg, rgb(41, 24, 41), black )
}

#text {
  font-family: Impact, sans-serif;
  letter-spacing: 1.5px;
  font-size: 2vw 2vh;
}

#author {
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif
}

#new-quote {
  height: 10vh;
  width: 20vw;
  padding: 3px 3px 3px 3px;
  margin: 6px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #500d6b;
  color: whitesmoke;
  font-size: 1em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#new-quote:hover {
  background-color: #993ebd;
}

#new-quote:active {
  background-color: #362d3a;
}

#tweet {
  padding: 0;
  background-color: rgb(63, 159, 248);
}

#tweet:hover {
  background-color: #6bd1fa;
}

#tweet:active {
  background-color: #362d3a;
}